<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.th.mimo.fm91"
    android:versionCode="3"
    android:versionName="2.2.1" >

    <permission
        android:name="co.th.mimo.fm91.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="co.th.mimo.fm91.permission.MAPS_RECEIVE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fm91"
        android:label="@string/app_name"
        android:theme="@style/FM91CustomTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBFZ98zFSiF8g2Lw7PVdNK0G6v3r1OLbmI" />

        <activity
            android:name="co.th.mimo.fm91.FM91MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="co.th.mimo.fm91.NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.th.mimo.fm91.CameraDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.th.mimo.fm91.EmergencyCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.th.mimo.fm91.CameraPositionMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.th.mimo.fm91.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.th.mimo.fm91.InsertProfileActivity"
            android:label="@string/title_activity_insert_profile" >
        </activity>
        <activity
            android:name="co.th.mimo.fm91.InformMapSelectorActivity"
            android:label="@string/title_activity_infom_map_selector" >
        </activity>
        <activity
            android:name="co.th.mimo.fm91.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>